@layer base {
  .typography {
    color: var(--color-foreground);
    white-space: pre-wrap;

    & h1:not(.not-typography h1) {
      scroll-margin: calc(var(--spacing) * 20);
      font-size: calc(var(--text-3xl) * 1.1);
      line-height: var(--text-4xl--line-height);
      font-weight: 700;
      letter-spacing: var(--tracking-tight);

      @media (min-width: 1024px) {
        font-size: var(--text-4xl);
        line-height: var(--text-5xl--line-height);
      }
    }

    & h2:not(.not-typography h2) {
      scroll-margin: calc(var(--spacing) * 20);
      border-bottom: 1px solid var(--color-border);
      padding-bottom: calc(var(--spacing) * 2);
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
      font-weight: 600;
      letter-spacing: var(--tracking-tight);
      margin-top: calc(var(--spacing) * 12);

      &:first-child {
        margin-top: 0;
      }
    }

    & h3:not(.not-typography h3) {
      scroll-margin: calc(var(--spacing) * 20);
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
      font-weight: 600;
      letter-spacing: var(--tracking-tight);
      margin-top: calc(var(--spacing) * 12);

      &:first-child {
        margin-top: 0;
      }
    }

    & h4:not(.not-typography h4) {
      scroll-margin: calc(var(--spacing) * 20);
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
      font-weight: 600;
      letter-spacing: var(--tracking-tight);
      margin-top: calc(var(--spacing) * 12);

      &:first-child {
        margin-top: 0;
      }
    }

    & h5:not(.not-typography h5) {
      scroll-margin: calc(var(--spacing) * 20);
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
      font-weight: 600;
      letter-spacing: var(--tracking-tight);
      margin-top: calc(var(--spacing) * 12);

      &:first-child {
        margin-top: 0;
      }
    }

    & h6:not(.not-typography h6) {
      scroll-margin: calc(var(--spacing) * 20);
      font-size: var(--text-base);
      line-height: var(--text-base--line-height);
      font-weight: 600;
      letter-spacing: var(--tracking-tight);
      margin-top: calc(var(--spacing) * 12);

      &:first-child {
        margin-top: 0;
      }
    }

    & h1:not(.not-typography h1),
    & h2:not(.not-typography h2),
    & h3:not(.not-typography h3),
    & h4:not(.not-typography h4),
    & h5:not(.not-typography h5),
    & h6:not(.not-typography h6) {
      & + p {
        margin-top: 0;
      }
    }

    & p:not(.not-typography p) {
      line-height: 1.75;

      &:not(:first-child) {
        margin-top: calc(var(--spacing) * 6);
      }
    }

    & li:not(.not-typography li) {
      line-height: 1.75;
    }

    & a:not(.not-typography a) {
      cursor: pointer;
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: var(--spacing);
    }

    & blockquote:not(.not-typography blockquote) {
      margin-top: calc(var(--spacing) * 6);
      border-left: 2px solid var(--color-border);
      padding-left: calc(var(--spacing) * 6);
      font-style: italic;
    }

    .tableWrapper {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      border: 1px solid var(--color-border);
      border-radius: var(--radius-md);
      overflow: hidden;

      .selectedCell {
        border: 1px solid var(--color-primary);
        /* outline: 1px solid var(--color-primary); */
      }
    }

    & table:not(.not-typography table) {
      width: 100%;
      overflow-y: auto;

      & thead tr {
        margin: 0;
        border-top: 1px solid var(--color-border);
        padding: 0;
      }

      & th {
        border: 1px solid var(--color-border);
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        text-align: left;
        font-weight: 700;
        background-color: var(--color-card);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }

      & tbody tr {
        margin: 0;
        border-top: 1px solid var(--color-border);
        padding: 0;
      }

      & td {
        border: 1px solid var(--color-border);
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        text-align: left;
        background-color: var(--color-card);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }
    }

    & ul:not(.not-typography ul) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: disc;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
      }
    }

    & ul[data-type="taskList"]:not(.not-typography ul[data-type="taskList"]) {
      list-style: none;
      margin-left: 0;
      padding: 0;

      & li:not(.not-typography li) {
        align-items: center;
        display: flex;

        & > label:not(.not-typography label) {
          flex: 0 0 auto;
          margin-right: 0.5rem;
          user-select: none;
        }

        & > div:not(.not-typography div) {
          flex: 1 1 auto;
        }
      }

      & input[type="checkbox"]:not(.not-typography input[type="checkbox"]) {
        cursor: pointer;
      }
    }

    & ol:not(.not-typography ol) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: decimal;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
      }
    }

    & pre:not(.not-typography pre) {
      background-color: var(--color-card);
      border: 1px solid var(--color-border);
      border-radius: var(--radius-md);
      padding: calc(var(--spacing) * 4);
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      overflow-y: auto;
    }

    & code:not(pre code):not(.not-typography code) {
      position: relative;
      border: 1px solid var(--color-border);
      border-radius: var(--radius-md);
      background-color: var(--color-muted);
      padding: calc(var(--spacing) * 0.8) calc(var(--spacing) * 1.2);
      font-family: var(--font-mono);
      line-height: var(--text-sm--line-height);

      &:is(p > code) {
        font-size: var(--text-sm);
      }
    }

    & .lead:not(.not-typography .lead) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
      color: var(--color-muted-foreground);
    }

    & .large:not(.not-typography .large) {
      font-size: var(--text-lg);
      line-height: var(--text-lg--line-height);
      font-weight: 600;
    }

    & .small:not(.not-typography .small) {
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      font-weight: 500;
      line-height: 1;
    }

    & .muted:not(.not-typography .muted) {
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      color: var(--color-muted-foreground);
    }

    & img:not(.not-typography img),
    & picture:not(.not-typography picture),
    & video:not(.not-typography video) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
    }

    & picture > img:not(.not-typography picture > img) {
      margin-top: 0;
      margin-bottom: 0;
    }

    & kbd:not(.not-typography kbd) {
      border-radius: calc(var(--radius) - 2px);
      background-color: var(--color-muted);
      padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
      font-weight: 600;
    }

    & hr {
      margin-top: calc(var(--spacing) * 10);
      margin-bottom: calc(var(--spacing) * 10);
    }

    & dl:not(.not-typography dl) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);

      & dt {
        font-weight: 600;
        margin-top: calc(var(--spacing) * 6);
        letter-spacing: var(--tracking-tight);

        &:first-child {
          margin-top: 0;
        }
      }
    }

    & details:not(.not-typography details) {
      margin-top: calc(var(--spacing) * 6);

      & summary {
        cursor: pointer;
        font-weight: 600;
        margin-top: calc(var(--spacing) * 6);
        letter-spacing: var(--tracking-tight);
      }

      & p {
        &:first-of-type {
          margin-top: calc(var(--spacing) * 2);
        }
      }
    }

    & mark:not(.not-typography mark) {
      background-color: var(--color-yellow-300);
    }

    & small:not(.not-typography small) {
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
      line-height: 1;
    }
  }
}

.drag-handle {
  cursor: grab;
  height: 2rem;
  width: 2rem;
  padding-right: 2.5rem;
}

.dropcursor {
  color: var(--color-primary);
}

.math {
  cursor: pointer;
  overflow: hidden;

  &.math-display {
    border-radius: var(--radius-md);
    border-color: var(--border);
    background-color: var(--color-card);
    border-width: 1px;
    margin-block: 0.75rem;

    .math-content {
      font-family: var(--font-mono);
      font-size: var(--text-sm);
      padding: 0.5rem;
      background-color: var(--color-sidebar);
      border-bottom: 2px solid var(--color-border);

      &::before,
      &::after {
        content: "$$";
        display: block;
        font-size: var(--text-xs);
        color: var(--color-muted-foreground);
      }
    }
  }

  &.math-inline {
    .math-content {
      border-radius: var(--radius-md);
      border-color: var(--border);
      background-color: var(--color-muted);
      border-width: 1px;
      margin-block: 0.75rem;
      padding: calc(var(--spacing) * 0.8) calc(var(--spacing) * 1.2);
      font-family: var(--font-mono);
      line-height: var(--text-sm--line-height);
      font-size: var(--text-sm);

      &::before,
      &::after {
        content: "$";
        display: inline;
        margin-inline: 0.25rem;
        color: var(--color-muted-foreground);
      }
    }
  }

  &.math-selected {
    cursor: text;
  }
}

.mermaid {
  &:has(.mermaid-error) {
    & > pre {
      margin-bottom: 0;
    }
  }

  .mermaid-error {
    margin: 0;
    color: var(--color-destructive);
    font-size: var(--text-sm);
  }

  .mermaid-render {
    padding: 0.5rem;
    svg {
      margin-inline: auto;
    }
  }
}

.smiles {
  .smiles-render svg {
    margin-inline: auto;
    max-width: var(--container-sm);
  }
}
