.editor {
  p.is-empty::before {
    color: var(--foreground-faint);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-weight: 500;
  }

  ul > li > p {
    margin-block: 0px;
  }

  ul[data-type="taskList"] {
    list-style: none;
    li {
      align-items: flex-start;
      display: flex;

      > label {
        margin-right: 0.5rem;
        user-select: none;
      }

      p {
        margin: 0;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    /* Nested task lists */
    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  .mermaid {
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: var(--border-color);
    margin-block: 0.75rem;
    pre {
      margin: 0;
      border-radius: 0rem;
    }
    .mermaid-render {
      padding: 0.5rem;
      svg {
        margin-inline: auto;
      }
    }
  }

  .math {
    cursor: pointer;
  }

  .math-display {
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: var(--border-color);
    margin-block: 0.75rem;

    .math-content {
      padding: 0.5rem;
      &::before,
      &::after {
        content: "$$";
        display: block;
        color: var(--foreground-faint);
      }
    }
  }

  .math-inline {
    .math-content {
      padding: 0.125rem 0.25rem;
      border-radius: 0.125rem;
      border-width: 1px;
      border-color: var(--border-color);
    }
  }

  .math-selected {
    cursor: text;
  }

  .math-content {
    @apply font-mono text-sm;
    color: var(--foreground-muted);
    background: var(--code-bg);

    &::before,
    &::after {
      content: "$";
      display: inline;
      color: var(--foreground-faint);
    }
  }
}
