.editor {
  p.is-empty::before {
    color: var(--foreground-faint);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-weight: 500;
  }

  ul > li > p {
    margin-block: 0px;
  }

  ul[data-type="taskList"] {
    list-style: none;
    li {
      align-items: flex-start;
      display: flex;

      > label {
        margin-right: 0.5rem;
        user-select: none;
      }

      p {
        margin: 0;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    /* Nested task lists */
    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  .codeblock {
    position: relative;
    margin-block: 1.75em;

    pre {
      margin: 0;
    }
  }

  .mermaid,
  .smiles {
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: var(--border-color);
    margin-block: 0.75rem;
    pre {
      margin: 0;
      border-radius: 0rem;
    }
    .mermaid-render,
    .smiles-render {
      padding: 0.5rem;
      svg {
        margin-inline: auto;
      }
    }
  }

  .math {
    cursor: pointer;
  }

  .math-display {
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: var(--border-color);
    margin-block: 0.75rem;

    .math-content {
      padding: 0.5rem;
      &::before,
      &::after {
        content: "$$";
        display: block;
        color: var(--foreground-faint);
      }
    }
  }

  .math-inline {
    .math-content {
      padding: 0.125rem 0.25rem;
      border-radius: 0.125rem;
      border-width: 1px;
      border-color: var(--border-color);
    }
  }

  .math-selected {
    cursor: text;
  }

  .math-content {
    @apply font-mono text-sm;
    color: var(--foreground-muted);
    background: var(--code-bg);

    &::before,
    &::after {
      content: "$";
      display: inline;
      color: var(--foreground-faint);
    }
  }

  &:not(.dragging) {
    /* Prevents text color change when dragging a node */
    .ProseMirror-selectednode::selection,
    .ProseMirror-selectednode *::selection,
    .math[draggable="true"] .math-content::selection {
      color: unset;
    }
  }
}

.dropcursor {
  color: var(--detail);
}

.drag-handle {
  position: fixed;
  opacity: 1;
  border-radius: 0.25rem;
  margin-left: -0.5rem;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(0, 0, 0, 0.5)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7.55228475,8 8,8.44771525 8,9 C8,9.55228475 7.55228475,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: calc(0.5em + 0.375rem) calc(0.5em + 0.375rem);
  background-repeat: no-repeat;
  background-position: center;

  width: 1.5rem;
  height: 1.5rem;
  z-index: 50;
  cursor: grab;

  &:hover {
    background-color: var(--background-primary-hover);
    transition: background-color 0.2s;
  }

  &:active {
    background-color: var(--background-primary-alt);
    transition: background-color 0.2s;
    cursor: grabbing;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 600px) {
    display: none;
    pointer-events: none;
  }
}

.dark .drag-handle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(255, 255, 255, 0.5)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7.55228475,8 8,8.44771525 8,9 C8,9.55228475 7.55228475,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
}

/* Hide drag-handle when editor focus is lost */
.editor-wrapper:has(.editor:not(.ProseMirror-focused)) {
  .drag-handle {
    opacity: 0;
  }
}

@media print {
  [data-placeholder] {
    display: none;
  }
  .mermaid,
  .math-display,
  .smiles {
    border: unset;
  }
}
