code .hljs-keyword,
code .hljs-variable,
code .hljs-variable.language_,
code .hljs-name,
code .hljs-selector-attr {
  color: var(--codeblock-higlight-1);
}

code .hljs-built_in,
code .hljs-doctag,
code .hljs-deletion,
code .hljs-strong,
code .hljs-emphasis,
code .hljs-tag {
  color: var(--codeblock-higlight-2);
}

code .hljs-type,
code .hljs-title.class_,
code .hljs-selector-tag {
  color: var(--codeblock-higlight-3);
}
code .hljs-title,
code .hljs-title.function_,
code .hljs-section,
code .hljs-attr,
code .hljs-selector-id {
  color: var(--codeblock-higlight-4);
}

code .hljs-selector-class,
code .hljs-selector-pseudo,
code .hljs-property,
code .hljs-bullet,
code .hljs-formula {
  color: var(--codeblock-higlight-5);
}

code .hljs-template-tag,
code .hljs-template-variable,
code .hljs-symbol {
  color: var(--codeblock-higlight-6);
}

code .hljs-literal,
code .hljs-number,
code .hljs-variable.constant_,
code .hljs-regexp,
code .hljs-meta {
  color: var(--codeblock-higlight-7);
}

code .hljs-operator,
code .hljs-tag.hljs-string,
code .hljs-link {
  color: var(--codeblock-higlight-8);
}

code .hljs-string,
code .hljs-char.escape_,
code .hljs-code,
code .hljs-quote,
code .hljs-addition,
code .hljs-attribute {
  color: var(--codeblock-higlight-9);
}

code .hljs-subst,
code .hljs-params,
code .hljs-punctuation {
  color: var(--codeblock-higlight-10);
}

code .hljs-comment {
  color: var(--codeblock-higlight-11);
}

code .hljs-strong {
  font-weight: bold;
}

code .hljs-link,
code .hljs-emphasis,
code .hljs-quote,
code .hljs-title.function_ {
  font-style: italic;
}

code .hljs-addition {
  background: rgba(166, 209, 137, 0.15);
}

code .hljs-deletion {
  background: rgba(231, 130, 132, 0.15);
}
