/* .mermaid-render {
  .flowchart,
  .erDiagram,
  * {
    > text {
      fill: var(--color-foreground) !important;
    }
    defs * {
      fill: var(--color-muted-foreground) !important;
      stroke: var(--ring) !important;
    }
    .node.undefined {
      color: var(--color-background) !important;
      .label-container path {
        fill: var(--color-background) !important;
        stroke: var(--border) !important;
      }
    }
    .node {
      .label-container,
      .label-container > circle,
      path {
        fill: var(--secondary) !important;
        stroke: var(--border) !important;
      }
      .nodeLabel {
        color: var(--foreground) !important;
      }
      .row-rect-odd,
      .row-rect-even {
        path {
          fill: var(--color-background) !important;
        }
      }
    }
    .cluster {
      rect {
        fill: var(--secondary) !important;
        opacity: 0.5 !important;
      }
      .nodeLabel {
        color: var(--foreground) !important;
      }
    }
    .edgePaths {
      .flowchart-link,
      .relationshipLine,
      * {
        stroke: var(--color-foreground) !important;
      }
      .edge-thickness-thick {
        stroke: var(--color-muted-foreground) !important;
      }
    }
    .edgeLabel {
      color: var(--foreground) !important;
      div {
        background-color: var(--color-card) !important;
        border-radius: var(--radius-md) !important;
      }
      p {
        background-color: transparent !important;
      }
    }
  }
} */
