.sidebar {
  &:not(&.resizing) {
    transition:
      width 0.15s linear,
      min-width 0.15s linear;
  }
  &.open {
    min-width: calc(var(--spacing) * 40);
    max-width: calc(var(--spacing) * 80);
    border-right-width: 1px;
    border-right-color: var(--border);
  }
  &.close {
    min-width: 0;
  }
}
