@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

.root {
  isolation: isolate;
}

body {
  position: relative;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --selection: oklch(0.44 0 0);
  --selection-foreground: oklch(0.985 0 0);

  /* UI */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  /* Colors */
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /* Smiles colors */
  --smiles-color-c: var(--color-foreground);
  --smiles-color-o: var(--color-rose-500);
  --smiles-color-n: var(--color-blue-500);
  --smiles-color-f: var(--color-green-500);
  --smiles-color-cl: var(--color-cyan-500);
  --smiles-color-br: var(--color-orange-500);
  --smiles-color-i: var(--color-purple-500);
  --smiles-color-p: var(--color-orange-500);
  --smiles-color-s: var(--color-yellow-500);
  --smiles-color-b: var(--color-brown-500);
  --smiles-color-si: var(--color-brown-500);
  --smiles-color-h: var(--color-black);
  --smiles-color-background: var(--background);

  /* Mermaid colors */
  --mermaid-primary-color: #fafafa;
  --mermaid-primary-text-color: #000;
  --mermaid-primary-border-color: #e5e5e5;
  --mermaid-line-color: #a1a1a1;
  --mermaid-secondary-color: #fca5a5;
  --mermaid-tertiary-color: #f4f4f592;
  --mermaid-edge-label-background: #bbf7d0;
  --mermaid-edge-label-color: #bae6fd;

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Code Block colors  */
  --codeblock-highlight-1: #8839ef;
  --codeblock-highlight-2: #d20f39;
  --codeblock-highlight-3: #df8e1d;
  --codeblock-highlight-4: #7287fd;
  --codeblock-highlight-5: #179299;
  --codeblock-highlight-6: #dd7878;
  --codeblock-highlight-7: #fe640b;
  --codeblock-highlight-8: #209fb5;
  --codeblock-highlight-9: #40a02b;
  --codeblock-highlight-10: #5c5f77;
  --codeblock-highlight-11: #a3a3a3;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --selection: oklch(0.985 0 0);
  --selection-foreground: oklch(0.145 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.42 0.18 266);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  /* Smiles colors */
  --smiles-color-c: var(--color-muted-foreground);
  --smiles-color-o: var(--color-rose-400);
  --smiles-color-n: var(--color-blue-400);
  --smiles-color-f: var(--color-green-400);
  --smiles-color-cl: var(--color-cyan-400);
  --smiles-color-br: var(--color-orange-400);
  --smiles-color-i: var(--color-purple-400);
  --smiles-color-p: var(--color-orange-400);
  --smiles-color-s: var(--color-yellow-400);
  --smiles-color-b: var(--color-brown-400);
  --smiles-color-si: var(--color-brown-400);
  --smiles-color-h: var(--color-white);
  --smiles-color-background: var(--background);

  /* Mermaid colors */
  --mermaid-primary-color: #171717;
  --mermaid-primary-text-color: #fff;
  --mermaid-primary-border-color: #ffffff1a;
  --mermaid-line-color: #3f3f3f;
  --mermaid-secondary-color: #fca5a5;
  --mermaid-tertiary-color: #1725544d;
  --mermaid-edge-label-background: #10b981;
  --mermaid-edge-label-color: #000;

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.145 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Code Block colors  */
  --codeblock-highlight-1: #ca9ee6;
  --codeblock-highlight-2: #e78284;
  --codeblock-highlight-3: #e5c890;
  --codeblock-highlight-4: #8caaee;
  --codeblock-highlight-5: #81c8be;
  --codeblock-highlight-6: #eebebe;
  --codeblock-highlight-7: #ef9f76;
  --codeblock-highlight-8: #85c1dc;
  --codeblock-highlight-9: #a6d189;
  --codeblock-highlight-10: #b5bfe2;
  --codeblock-highlight-11: #808080;
}

@theme inline {
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    @apply h-full overflow-hidden;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
}

[data-sidebar-resizing] {
  user-select: none;
  cursor: col-resize;
}

[data-sidebar-resizing] * {
  transition: none !important;
}
