@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@config '../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }
}

@theme {
  /* Base */
  --color-background-primary: var(--background-primary);
  --color-background-primary-alt: var(--background-primary-alt);
  --color-background-primary-hover: var(--background-primary-hover);

  --color-background-secondary: var(--background-secondary);
  --color-background-secondary-alt: var(--background-secondary-alt);
  --color-background-secondary-hover: var(--background-secondary-hover);

  /* Foreground */
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-faint: var(--foreground-faint);

  /* Selection */
  --color-selection: var(--selection);
  --color-selection-bg: var(--selection-bg);
  --color-selection-border: var(--selection-border);

  /* Colors */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* System */
  --spacing-topbar: var(--topbar-height);
  --color-border: var(--border);
}

:root {
  /* Base */
  --background-primary: var(--color-stone-50);
  --background-primary-alt: var(--color-stone-200);
  --background-primary-hover: var(--color-stone-200);

  --background-secondary: var(--color-stone-100);
  --background-secondary-alt: var(--color-stone-200);
  --background-secondary-hover: var(--color-stone-200);

  --foreground: var(--color-neutral-900);
  --foreground-muted: var(--color-neutral-500);
  --foreground-faint: var(--color-neutral-400);

  --selection: var(--color-stone-50);
  --selection-bg: rgb(18 18 18 / 70%);
  --selection-border: var(--accent);

  /* - Colors */
  --destructive: rgb(255 77 109);
  --destructive-foreground:;

  --success:;
  --success-foreground:;

  --warning:;
  --warning-foreground:;

  --primary: var(--color-neutral-800);
  --primary-hover: var(--color-neutral-950);
  --primary-foreground: var(--color-stone-300);

  --secondary:;
  --secondary-foreground:;

  --accent: rgb(118, 200, 147);
  --accent-foreground:;

  /* - Scrollbar */
  --scrollbar-color: rgb(163 163 163);
  --scrollbar-background: transparent;
  --scrollbar-width: 0.35rem;

  /* System */
  --topbar-height: 2.75rem;
  --border: rgb(231 229 228);

  /* Editor */
  /* TODO: replace prose variables whit these */
  --body: var(--foreground);
  --headings: var(--foreground);
  --lead: var(--foreground);
  --links: var(--foreground);
  --bold: var(--foreground);
  --counters: var(--foreground-muted);
  --bullets: var(--foreground-muted);
  --hr: var(--foreground-faint);
  --quotes: var(--foreground-muted);
  --quote-border: var(--foreground-faint);
  --captions: var(--foreground-muted);
  --th-borders: var(--foreground-muted);
  --td-borders: var(--foreground-muted);

  --code-background: var(--color-zinc-100);
  --code-foreground: var(--foreground);
  --inline-code-foreground: var(--code-foreground);
  --inline-code-background: var(--code-background);
  --block-code-foreground: var(--code-foreground);
  --block-code-background: var(--code-background);

  /* Codeblock */
  --codeblock-higlight-1: #8839ef;
  --codeblock-higlight-2: #d20f39;
  --codeblock-higlight-3: #df8e1d;
  --codeblock-higlight-4: #7287fd;
  --codeblock-higlight-5: #179299;
  --codeblock-higlight-6: #dd7878;
  --codeblock-higlight-7: #fe640b;
  --codeblock-higlight-8: #209fb5;
  --codeblock-higlight-9: #40a02b;
  --codeblock-higlight-10: #5c5f77;
  --codeblock-higlight-11: #a3a3a3;
}

.dark {
  /* Base */
  --background-primary: rgb(18 18 18);
  --background-primary-alt: rgb(38 38 38);
  --background-primary-hover: rgb(38 38 38);

  --background-secondary: rgb(23 23 23);
  --background-secondary-alt: rgb(35 35 35);
  --background-secondary-hover: rgb(35 35 35);

  --foreground: rgb(231 229 228);
  --foreground-muted: rgb(168 162 158);
  --foreground-faint: rgb(120 113 108);

  --selection: rgb(18 18 18);
  --selection-bg: rgb(231 229 228 / 70%);

  /* - Colors */
  --destructive: rgb(100 13 20);
  --destructive-foreground:;

  --success:;
  --success-foreground:;

  --warning:;
  --warning-foreground:;

  --primary: var(--color-neutral-200);
  --primary-hover: var(--color-neutral-300);
  --primary-foreground: var(--color-stone-800);

  --secondary:;
  --secondary-foreground:;

  --accent: rgb(0 127 95);
  --accent-foreground:;

  /* - Scrollbar */
  --scrollbar-color: rgb(120 113 108 / 0.5);
  --scrollbar-background: transparent;

  /* System */
  --border: var(--background-primary-alt);

  /* Editor */
  --code-background: var(--color-neutral-900);

  /* Code Block colors  */
  --codeblock-higlight-1: #ca9ee6;
  --codeblock-higlight-2: #e78284;
  --codeblock-higlight-3: #e5c890;
  --codeblock-higlight-4: #8caaee;
  --codeblock-higlight-5: #81c8be;
  --codeblock-higlight-6: #eebebe;
  --codeblock-higlight-7: #ef9f76;
  --codeblock-higlight-8: #85c1dc;
  --codeblock-higlight-9: #a6d189;
  --codeblock-higlight-10: #b5bfe2;
  --codeblock-higlight-11: #808080;
}

[data-color-scheme="catppuccin"] {
  /* Base */
  --background-primary: #eff1f5;
  --background-primary-alt: #e6e9ef;
  --background-primary-hover: #e6e9ef;

  --background-secondary: #dce0e8;
  --background-secondary-alt: #ccd0da;
  --background-secondary-hover: #ccd0da;

  --foreground: #4c4f69;
  --foreground-muted: #6c6f85;
  --foreground-faint: #8c8fa1;

  --selection: #4c4f69;
  --selection-bg: rgb(114 135 253 / 0.5);

  /* - Colors */
  --destructive: rgb(243 139 168 / 0.5);
  --destructive-foreground:;

  --success:;
  --success-foreground:;

  --warning:;
  --warning-foreground:;

  --primary: var(--background-secondary);
  --primary-hover: var(--background-secondary-hover);
  --primary-foreground: var(--foreground);

  --secondary:;
  --secondary-foreground:;

  --accent: #7287fd;
  --accent-foreground:;

  /* - Scrollbar */
  --scrollbar-color: #7c7f93;
  --scrollbar-background: transparent;

  /* System */
  --border: #dce0e8;

  /* Editor */
  --code-background: #e6e9ef;

  /* --- */

  &.dark {
    /* Base */
    --background-primary: #11111b;
    --background-primary-alt: #181825;
    --background-primary-hover: #181825;

    --background-secondary: #181825;
    --background-secondary-alt: #313244;
    --background-secondary-hover: #313244;

    --foreground: #cdd6f4;
    --foreground-muted: #a6adc8;
    --foreground-faint: #7f849c;

    --selection: #b4befe;
    --selection-bg: rgb(180 190 254 / 0.5);

    /* - Colors */
    --destructive: rgb(210 15 57 / 0.5);
    --destructive-foreground:;

    --success:;
    --success-foreground:;

    --warning:;
    --warning-foreground:;

    /* --primary: #eff1f5; */
    /* --primary-hover: #ccd0da; */
    /* --primary-foreground: #4c4f69; */

    --secondary:;
    --secondary-foreground:;

    --accent: #89b4fa;
    --accent-foreground:;

    /* - Scrollbar */
    --scrollbar-color: #7c7f93;
    --scrollbar-background: transparent;

    /* System */
    --border: #1e1e2e;

    /* Editor */
    --code-background: #1e1e2e;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  outline: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
